* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*landing page styles*/

.landing-page {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dpeaxhcl5/image/upload/v1672397635/Morty%20project/85327_sxc48b.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.landingPage-heading {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;

}

.search-form {
  height: 80vh;
 
}