* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*landing page styles*/

.landing-page {
  height: 100vh;
  background-image: url(https://res.cloudinary.com/dpeaxhcl5/image/upload/v1672397635/Morty%20project/85327_sxc48b.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.landingPage-heading {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
 

}

.search-form {
  height: 80%;
  /* display: flex; */
  padding-top: 100px;
}


#fname {
  height: 80px;
  width: 600px;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
}

.search {
  margin-left: 40px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 20px;
  background-color: lightblue;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 500;
}

form {
  padding-left: 300px;
  padding-top: 50px;
  
  
}

.DisplayCharacter {
  display: flex;
  color: white;
  font-size: 20px;
  
}

.Character-image {
  height: 40vh;
  width: 40vh;
  background-color: yellow;
}

.character-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

